*.bak
*.old
*~
*.cache
*.swap
*.swp
*.temp
*.tmp

*.o
*.a
*.so
*.exe
*.dll
*.py[co]

.DS_Store
*.icloud

*.project
*.includepath
*.settings
*.sublime-project
*.sublime-workspace
*.idea
*.vscode

/vendor

/testcmd
/LOCALNOTES
